@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  width: 70%;
  color: white;
  background-color:black;
  line-height: 1.5;
  margin: 1rem;
  max-width: 90%;
  margin-left:15%;

  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
}


header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}


footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  width:100%;
  text-align:center;
}

a {
  color: #15fe00;
  text-decoration: none;
}

.section{
  border: solid 1px white;
  padding:3%;
  margin-bottom:20px;
  margin-left:20px;
}

.maincontainer{
  display:flex;
  width:100%;
}

.col1{
  width:75%
}

.col2{
  min-width:15%;
  max-width:20%;
}

.col2 li{
  margin-left:auto;
  margin-right:auto;

}

.col2 .section{
  margin-right:0%;
  padding-left:0%;
}

.col2 h2{
  text-wrap:wrap;
  word-break: normal;
  text-align:center;
}

.homepageheader{
  margin-top:5px;
}

img {
  max-height:100%;
  max-width:100%;
}


/* shamelessly stolen off the internet from https://codepen.io/ynef/pen/yvvyGv */

/**/
.scanlines {
    position: relative;
}
.scanlines:before,
.scanlines:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
}
.scanlines:before {
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.75;
    /*animation: scanline 6s linear infinite;*/
}
.scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.1) 51%
    );
    background-size: 100% 4px;
    /*animation: scanlines 5s steps(60) infinite;*/
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}
@keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}

*/
