{{ define "main" }}
<style>
hr{
  height: 1px;
  background-color: #00ff00;
  border: none;
}
</style>
  <div class="section">
  <h1>{{ .Title }}</h1>
  {{ partial "tags.html" .}}
  <hr>
  <br>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  <p>
  <hr>
  {{ if not .Params.nocomments }}
    {{ partial "giscus.html" . }}
  {{ end }}
  <!--{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}-->
  </div>
{{ end }}
